<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <!-- directiva [ngModel] es igual a nombreTarea que viene de tareas.component.ts-->
      <!-- (keyup.enter)="agregarTarea()" el evento keyup.enter significa que cuando el usuario le de a enter ejecute el metodo agregarTarea  -->
      <input type="text" [(ngModel)]="nombreTarea" (keyup.enter)="agregarTarea()" class="form-control form-control-lg" placeholder="Introduce tus tareas...">
    </div>
    <div class="col-lg-6 offset-lg-3  mt-3">
      <div *ngIf="listaTareas.length === 0" class="card p-2">
        <h6>No tienes tareas pendientes</h6>
      </div>
      <!-- AÑADIMOS LISTADO DE TAREAS para iterar el listaTareas que tenemos en tareas.component.ts para ir agregando y mostrando las distintas tareas:-->
      <!-- USAMOS DIRECTIVA *NGFOR para iterar el listado de tareas con let tarea of listaTareas e interpolamos el objeto tarea y de la tarea queremos la propiedad nombre-->
      <!-- AÑADIMOS a LIST-GROUP-ITEM d-flex justify-content-between. FLEX BOOTSTRAP -->
      <ul class="list-group">
        <li *ngFor="let tarea of listaTareas" class="list-group-item d-flex justify-content-between">
          <span class="cursor">
            <i class="far fa-circle"></i>
          </span>
          {{ tarea.nombre }}
          <span class="cursor">
            <i class="fas fa-trash-alt"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
