<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <!-- directiva [ngModel] es igual a nombreTarea que viene de tareas.component.ts-->
      <!-- (keyup.enter)="agregarTarea()" el evento keyup.enter significa que cuando el usuario le de a enter ejecute el metodo agregarTarea  -->
      <input type="text" [(ngModel)]="nombreTarea" (keyup.enter)="agregarTarea()" class="form-control form-control-lg" placeholder="Introduce tus tareas...">
    </div>
    <div class="col-lg-6 offset-lg-3  mt-3">
      <div *ngIf="listaTareas.length === 0" class="card p-2">
        <h6>No tienes tareas pendientes</h6>
      </div>
      <!-- USAMOS DIRECTIVA *NGFOR para iterar el listado de tareas con let tarea of listaTareas e interpolamos el objeto tarea y de la tarea queremos la propiedad nombre-->
      <!-- añadimos let i = index para conseguir la posición de cada uno de los elementos del índice listaTareas -->
      <ul class="list-group">
        <li *ngFor="let tarea of listaTareas; let i = index" class="list-group-item d-flex justify-content-between">
          <!-- añadimos metodo actualizarTarea y le pasamos indice y tarea  -->
          <span class="cursor"  (click)="actualizarTarea(i, tarea)">
            <!-- usamos directiva NgClass con operador ternario, le decimos que si el estado de la tarea es verdadero use el
              icono del check, en caso contrario el circulo sin check -->
              <!-- le indicamos que cuando el estado sea verdadero se ponga en verde con: class.text-success="tarea.estado -->
            <i [class.text-success]="tarea.estado" [ngClass]="tarea.estado ? 'fas fa-check-circle' : 'far fa-circle'"></i>
            <!-- <i class="far fa-circle"></i>
            <i class="fas fa-check-circle"></i> -->
          </span>
          {{ tarea.nombre }}
          <!-- añadimos el evento click con el metodo eliminarTarea y le pasamos el indice del array -->
          <span class="cursor text-danger" (click)=eliminarTarea(i)>
            <i class="fas fa-trash-alt"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
